iobrokerdata
config
.storage
bak/data
log/**
logs/**
*.log.*/**
bak/
volumes/

dockerfiles/jenkins-ansible/jenkins_compose/jenkins_configuration/logs
dockerfiles/jenkins-ansible/.ssh
dockerfiles/jenkins-ansible/jenkins_compose/jenkins_configuration
gitea/git
gitea
uptime-kuma-data
