iobrokerdata
config
.storage
data
log/**
logs/**
*.log.*/**

jenkins-ansible/jenkins_compose/jenkins_configuration/logs
jenkins-ansible/.ssh
jenkins-ansible/jenkins_compose/jenkins_configuration
gitea/git
gitea
uptime-kuma-data
